<div style="margin-left: 10px; margin-top: 10px; margin-right: 10px; padding-left: 100px; padding-right: 100px">
    <div style="display: flex; justify-content: space-between;">
        <h2>Channels</h2>
        <button style="margin-left: auto;" mat-raised-button (click)="openChannelDialog()">Create Channel</button>
    </div>

    <div *ngIf="!channels || channels.length === 0">
        <mat-card>
            <mat-card-content>
                <div style="display:flex; justify-content: center; align-content: center;">
                    <img matListAvatar src="../assets/{{'photo3.png'}}" style="height: 100%; max-height: 400px; width: 100%; max-width: 400px" />
                </div>
                <mat-card-title>There are no channels...</mat-card-title>
            </mat-card-content>
        </mat-card>
    </div>

    <div *ngIf="channels && channels.length > 0">
        <mat-card>
            <mat-action-list>
                <mat-list-item class="list-item" *ngFor="let channel of channels" (mouseenter)="toggleHoverButton(channel.channelId, true)" (mouseleave)="toggleHoverButton(channel.channelId, false)">
                    <a [routerLink]="['/home/channel', channel.channelId]">
                        <div matListItemTitle>{{channel?.channelName}}</div>
                    </a>
                    <button type="submit" mat-raised-button color="warn" class="hover-button" *ngIf="hoveredItemId === channel.channelId" (click)="leaveChannel(channel.channelId)">Leave</button>
                </mat-list-item>
            </mat-action-list>
        </mat-card>
    </div>
</div>
