<div class="container">
    <div class="victor">
        <div>
            <div class="signin-heading">
                <h1>PrimaMensa ChitChat</h1>
                <h2>Sign in to PrimaMensa ChitChat</h2>
            </div>

            <div class="form-floating">
                <input placeholder="Email" class="form-control" type="email" />
                <label for="email"></label>
            </div>

            <div class="form-floating">
                <input placeholder="Password" class="form-control" type="password" />
                <label for="password"></label>
            </div>

            <button type="submit" class="btn btn-primary">
                <mat-icon>login</mat-icon> Login
            </button>
        </div>
    </div>
</div>