<button mat-icon-button style="float: right;" matDialogClose>
    <mat-icon>close</mat-icon>
</button>

<mat-dialog-content>
    <header>
        <h1>Edit your Profile</h1>
        <hr />
    </header>

    <div style="display: flex; gap: 16px;">
        <mat-form-field>
            <input matInput placeholder="Firstname" />
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Lastname" />
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
    </div>

    <p>
        <mat-form-field>
            <input matInput placeholder="Display name" />
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field style="width: 100%;">
            <input matInput placeholder="Bio" />
        </mat-form-field>
    </p>
</mat-dialog-content>

<hr />
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary">Save Changes</button>
</mat-dialog-actions>
