<mat-dialog-content>
    <header>
        <h1>Profile</h1>
        <hr />
    </header>

    <div class="profile-header">

        <div class="profile-image">
            <img src="../assets/photo.jpg" />
            <h2>Viktoria Pushkina</h2>
        </div>
        
        <div class="profile-content">
            <button mat-button color="accent">Invite</button>
            <button mat-button color="primary" (click)="openEditUserProfileDialog()">Edit</button>
        </div>
        
    </div>
    <hr />
    <mat-dialog-actions align="end">
        <button mat-raised-button matDialogClose>Close</button>
    </mat-dialog-actions>

</mat-dialog-content>
