<mat-toolbar>
    <mat-toolbar-row style="justify-content: space-between; align-items: center;">
        <a routerLink="/home"
           style="text-decoration: none; display: flex; flex-direction: column; align-items: center;">
            <span style="font-size: 14px;">PrimaMensa ChitChat</span>
        </a>

        <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center;">
            <input [(ngModel)]="searchTerm" (keyup)="updateSearchTerm()" (click)="overlayOpen = !overlayOpen" type="search"
                   placeholder="Search PrimaMensa" class="searchInput"
                   cdkOverlayOrigin #overlayPosition="cdkOverlayOrigin" />
            <button type="submit" mat-raised-button color="primary" (click)="search()" class="btn-primary" style="height: 36px;">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<ng-template cdk-connected-overlay
             [cdkConnectedOverlayOrigin]="overlayPosition"
             [cdkConnectedOverlayOpen]="overlayOpen"
             (overlayOutsideClick)="closeOverlay()">
    <div class="overlay-container">
        <mat-divider></mat-divider>
        <mat-action-list>
            <mat-list-item *ngFor="let result of searchResults$ | async" class="search">

                <div class="search-details">
                    <mat-icon matListItemIcon>search</mat-icon>
                    <div style="display: flex; align-items: center; width: 100%; justify-content: space-between; margin-left: 10px; margin-right: 10px;">
                        <h3 style="margin: 0; font-weight:500;">{{ result?.firstName }} {{result?.lastName}}</h3>
                        <img matListAvatar src="../assets/{{result?.profilePicture}}" style=" padding: 0; margin: 0; width: 35px; height: 35px; border-radius: 50%;">
                    </div>
                </div>

            </mat-list-item>
        </mat-action-list>
    </div>
</ng-template>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <mat-list>
            <mat-list-item style="margin-bottom: 20px;">
                <a routerLink="/home"
                   style="text-decoration: none; display: flex; flex-direction: column; align-items: center;">
                    <mat-icon color="primary" style="font-size: 28px;">home</mat-icon>
                    <span style="font-size: 12px;">Home</span>
                </a>
            </mat-list-item>

            <mat-list-item style="margin-bottom: 20px;">
                <a routerLink="./dms"
                   style="text-decoration: none; display: flex; flex-direction: column; align-items: center;">
                    <mat-icon color="primary" style="font-size: 28px;">chat</mat-icon>
                    <span style="font-size: 12px;">DMs</span>
                </a>
            </mat-list-item>

            <mat-list-item style="margin-bottom: 20px;">
                <a routerLink="./friends"
                   style="text-decoration: none; display: flex; flex-direction: column; align-items: center;">
                    <mat-icon color="primary" style="font-size: 28px;">people</mat-icon>
                    <span style="font-size: 12px;">Friends</span>
                </a>
            </mat-list-item>

            <mat-list-item style="margin-top: 420px;">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon color="primary">person</mat-icon>
                </button>

                <mat-menu #menu="matMenu">

                    <mat-dialog-actions>
                        <button mat-menu-item (click)="openDialog()">
                            <span>Profile</span>
                        </button>
                    </mat-dialog-actions>

                    <button mat-menu-item>
                        <span>Pending Invites</span>
                    </button>

                    <button mat-menu-item>
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Sign out</span>
                    </button>
                </mat-menu>

            </mat-list-item>
        </mat-list>

    </mat-sidenav>



    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
