<div *ngIf="barChartData.datasets.length > 0" style="display: block;">
    <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="barChartType">
    </canvas>
</div>


<div *ngIf="barChartData.datasets.length == 0">

    <div style="display:flex; justify-content: center; align-content: center;">
        <img matListAvatar src="../assets/{{'photo3.png'}}"
             style="height: 100%; max-height: 400px; width: 100%; max-width: 400px" />
    </div>
</div>
