<div class="container">
    <div class="chat-list mat-elevation-z5">

    </div>
    <div class="message-box  mat-elevation-z5">
        <div class="messagebox-header"> 
            <img src="../assets/{{'photo.jpg'}}" />
            <h2>Victoria Newland</h2>
        </div>
        <mat-divider></mat-divider>
        <div class="chat-area">

        </div>
        <div class="input-area">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Message..." />
                <button mat-icon-button matSuffix>
                    <mat-icon>send</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    
</div>
