<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChitChat.Web</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChitChat.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PrimaMensa ChitChat</a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="bg-dark col-auto col-md-1 col-lg-1 min-vh-100 d-flex flex-column justify-content-between">
                <div class="bg-dark p-2">
                    <ul class="nav nav-pills flex-column mt-6">
                        <li class="nav-item">
                            <a class="nav-link align-middle text-white" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="bi bi-house"></i><span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link align-middle text-white" asp-area="" asp-controller="Message" asp-action="DisplayMessage">
                                <i class="bi bi-chat-fill"></i><span>DMs</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col py-3">
                @RenderBody()
            </div>
        </div>   
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PrimaMensa - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
