.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
