.card-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.channel-card {
    flex: 1 1 calc(19% - 15px);
    box-sizing: border-box;
    border-radius: 2%;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.card-header {
    margin-bottom: 20px;
}

.channel-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #3498DB;
}

.user-count {
    font-size: 2.5rem;
    font-weight: 600;
    color: #6CDFF6;
}

.subtitle {
    font-size: 1rem;
    color: #777;
    margin-top: 10px;
}
