<form [formGroup]="changePasswordForm">
    <button mat-icon-button style="float: right;" matDialogClose>
        <mat-icon>close</mat-icon>
    </button>

    <mat-dialog-content style="overflow-y: auto;">
        <header>
            <h1>Change Password</h1>
            <hr />
        </header>

        <div style="display: flex; flex-direction: column; align-items: center;">

            <mat-form-field>
                <input matInput formControlName="currentPassword" placeholder="Current Password" type="password">
                <mat-label>Current Password</mat-label>
                <mat-icon matSuffix>lock</mat-icon>

                <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('required') && changePasswordForm.get('currentPassword')?.touched">
                    Current Password is required
                </mat-error>
                <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('minlength') && changePasswordForm.get('currentPassword')?.touched">
                    Password must be at least 6 characters long
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="newPassword" placeholder="New Password" type="password" />
                <mat-label>New Password</mat-label>
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required') && changePasswordForm.get('newPassword')?.touched">
                    New Password is required
                </mat-error>
                <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength') && changePasswordForm.get('newPassword')?.touched">
                    Password must be at least 6 characters long
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="confirmPassword" placeholder="Confirm Password" type="password" />
                <mat-label>Confirm Password</mat-label>
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required') && changePasswordForm.get('confirmPassword')?.touched">
                    Confirm Password is required
                </mat-error>
                <mat-error *ngIf="changePasswordForm.hasError('mismatch') && changePasswordForm.get('confirmPassword')?.touched">
                    Passwords do not match
                </mat-error>

            </mat-form-field>

        </div>
    </mat-dialog-content>

    <hr />
    <mat-dialog-actions align="center">
        <button (click)="changePassword()" type="submit" mat-raised-button color="primary">Save Changes</button>
    </mat-dialog-actions>

</form>
